@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We are team of ten students:<br />
    Iveta Teneva<br />
    Emil Dimitrov<br />
    Silviq Garcheva<br />
    Svetoslav Slavov<br />
    Kristian Dinev<br />
    Stanimir Bogoev<br />
    Elica Terzieva<br />
    Yoana Stanilova<br />
    Simona Doicheva<br />
    Miroslav Yordanov<br />
    We decided to make the application Phonebook in order to help people find new friends with ease.
    <br />The application uses ASP.NET MVC with Entity Framework 6.1.3</p>
