@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Contact STD:<br />
    Plovdiv Bulgaria Bul. Bulgaria "FMI" <br />
    <abbr title="Phone"></abbr>
    Phones:<br />
    0894758324<br />
    0893748287<br />
    0883647582<br />
    0876352341<br />

</address>

<address>
    <strong>Support:</strong>   <a href="std123@abv.bg">std123@abv.bg</a><br />
</address>