@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1 style="color: #408B92; font-family:Verdana; ">Phonebook</h1>
    <p class="lead">Phonebook is a free app that lets you share your contacts and find others.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: #408B92; font-family: Verdana; ">Getting started</h2>
        <p style="font-style:italic">
            First, you must make a registration and add your contacts.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #408B92; font-family: Verdana; ">Get more friends</h2>
        <p style="font-style:italic">
            You can find lots of relatives when visiting your friends' profiles, then start texting or even call them.
            If you are not acting like pervert or freak, our statistics show that 70% of the people using Phonebook had found at least
            5 new friends some of whom had grown to something more!
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #408B92; font-family: Verdana; ">Phonebook?! Why?</h2>
        <p style="font-style:italic">
            We are all tired of going out on dates with girls or boys we don't know very much. Isn't it annoying when you are interested
            in completely different activities, hobbies and whatsoever and the only thing you can discuss is the weather?
            Well with Phonebook you are not supposed to pay for an expensive dinner to get to know with your partner, you just start
            calling friends of yours and see what kind of people are they before going out.
        </p>
    </div>
</div>